<footer style="max-height: 50vh">
    <div class="footer_box">
        <ul class="footer_infos">
            <a href="#"><li>Qui sommes-nous ?<li></a>
            <a href="#"><li>FAQ<li></a>
            <a href="#"><li>Contactez-nous<li></a>
        </ul>
        <ul class="footer_legals">
            <a href="{{ path('mention_legale') }}"><li>Mentions légales<li></a>
            <a href="#"><li>Confidentialité et données personnelles<li></a>
            <a href="#"><li>Conditions générales d'utilisation<li></a>
            <a href="#"><li>Utilisation des cookies<li></a>
        </ul>
        <p class="brand">&copy Garden Connect - 2022 / Tous droits réservés</p>
    </div>
</footer>