<footer id="footer_boutique">
    <div class="footer_boutique_box">
        <div class="footer_boutique_top">
            <ul class="footer_boutique_legals">
                <li><a href="{{ path('mention_legale') }}">Mentions légales</a></li>
                <span class="separator_boutique_legals"> | </span>
                <li><a href="#">Conditions générales d'utilisation</a></li>
            </ul>
            <ul class="footer_boutique_infos">
                <li><a href="#">Qui sommes-nous ?</a>&nbsp<li>
                <li>&nbsp<a href="#">FAQ</a>&nbsp<li>
                <li>&nbsp<a href="#">Contactez-nous</a><li>
            </ul>
        </div>
        <p class="brand_boutique">&copy Garden Connect - 2022 / Tous droits réservés</p>
    </div>
</footer>