{# <footer style="max-height: 50vh"> #}
<footer id="footer">
    <div class="footer_box">
        <ul class="footer_infos">
            <a href="#"><li>Qui sommes-nous ?<li></a>
            <a href="#"><li>FAQ<li></a>
            <a href="#"><li>Contactez-nous<li></a>
        </ul>
        <hr>
        <ul class="footer_legals">
            <li><a href="{{ path('mention_legale') }}">Mentions légales</a></li>
            <span class="separator_legals"> | </span>
            <li><a href="#">Conditions générales d'utilisation</a></li>
        </ul>
        <p class="brand">&copy Garden Connect - 2022 <span class="slash">/</span> <br>Tous droits réservés</p>
    </div>
</footer>