<footer id="footer">
    <div class="footer_box">
        <ul class="footer_infos">
            <li><a href="#">Qui sommes-nous ?</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contactez-nous</a></li>
        </ul>
        <hr>
        <ul class="footer_legals">
            <li><a href="#">Mentions légales</a></li>
            <li><span class="separator_legals"> | </span></li>
            <li><a href="#">Conditions générales d'utilisation</a></li>
        </ul>
        <p class="brand">&copy; Garden Connect - 2022 <span class="slash">/</span> <br>Tous droits réservés</p>
    </div>
</footer>