<footer style="max-height: 50vh">
    <div class="footer_box">
        <ul class="footer_infos">
            <li>Qui sommes-nous ?</li>
            <li>FAQ</li>
            <li>Contactez-nous</li>
        </ul>
        <ul class="footer_legals">
            <li>Mentions légales</li>
            <li>Confidentialité et données personnelles</li>
            <li>Conditions générales d'utilisation</li>
            <li>Utilisation des cookies</li>
        </ul>
        <p class="brand">&copy Garden Connect - 2022 / Tous droits réservés</p>
    </div>
</footer>