{% if boutique.imagesBoutiques|length > 0 %}
    <div class="flexslider" id="slider">
        <ul class="slides relative">
            {% for imageBoutique in boutique.imagesBoutiques %}
                <li>
                    <img src="{{ asset('uploads/boutique/' ~ imageBoutique.title) }}" alt="Images de la Boutique" />
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <img style="max-height: 400px" src="{{ asset('uploads/boutique/imageBoutiqueDefault.jpg' ) }}" alt="Images de la Boutique" />
{% endif %}