{% if boutique.imagesBoutiques|length > 0 %}
    <div class="flexslider" id="slider">
        <ul class="slides relative">
            {% for imageBoutique in boutique.imagesBoutiques %}
                {% if boutique.user.id > 33 or boutique.user.id == 1 or boutique.user.id == 2 %}
                    <li>
                        <img style="max-height: 400px" src="{{ asset('uploads/boutique/' ~ imageBoutique.title) }}" alt="Images de la Boutique" />
                    </li>
                {% else %}
                    <li>
                        <img style="width: 100%;max-height: 400px;object-fit: cover" src="{{ imageBoutique.title }}" alt="Images de la Boutique" />
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% else %}
    <img style="max-height: 400px" src="{{ asset('uploads/boutique/imageBoutiqueDefault.jpg' ) }}" alt="Images de la Boutique" />
{% endif %}