<span class="span_notif"
    {# style= #}
    {# "
        position: absolute;
        transform: scale(.7);
        transform-origin: top right;
        right: .25rem;
        margin-top: -0.25rem;
        color: #fff;
        background-color: #e74a3b;
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.35rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    " #}
>
        {% if nbrNonlus > 99 %}
            99+
        {% else %}
            {{ nbrNonlus }}
        {% endif %}
</span>