{% extends 'layout/front_base.html.twig' %}


{% block body %}
    <div class="wrapform">
        <div id="contener_form">
            <form action="{{ path('app_login') }}" method="post">
                <h1>Connexion</h1>
                <div class="bloc_form">
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                </div>

                <div class="bloc_form">
                    <label for="password">Mot de passe:</label>
                    <input type="password" id="password" name="_password"/>
                </div>

                <div class="bloc_form">
                    <a href="{{ path('app_reset_password') }}">Mot de passe oublié?</a>
                </div>

                {% if error %}
                <div class="bloc_form">
                    <div class="form-error" style="text-align: center">
                        <p>L'email ou le mot de passe sont invalides.</p>
                    </div>
                </div>
                {% endif %}


                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="bloc_form">
                    <button type="submit">Se Connecter</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
