/* Partial _listing */
.count_list_mess {
  text-align: center;
  margin: 0;
  padding: .5rem;
}
.count_list_mess span {
  font-weight: bold;
  color: var(--vertfonce);
}
/* Page index (listing) */
.messagerie_listing {
  width: 95%;
  margin: 0 auto;
}
.mess_nonlus {
  margin-bottom: 0;
  font-size: 0.9rem;
}
.box_user,
.box_name_time {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-flow: row;
  align-self: flex-start;
}
.box_name_time {
  width: 100%;
}
.box_user:nth-child(2) {
  flex-flow: row-reverse;
  text-align: right;
}
.box_name_time {
  justify-content: flex-end;
}
.users-container {
  position: relative;
  padding: 0;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.users {
  padding: 0;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.users .person {
  position: relative;
  width: 100%;
  padding: 1rem;
  border-width: 0 1px 1px;
  border-color: #f0f4f8;
  border-style: solid;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-items: center;
}
.users .person:nth-child(1) {
  border: 1px solid #f0f4f8;
}
.users .person .user {
  display: inline-block;
  position: relative;
}
.users .person .user img,
.avatar {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
img {
  vertical-align: bottom;
  border-style: none;
}
.users .person p.name-time {
  font-weight: 600;
  font-size: 0.85rem;
  display: inline-block;
  /* Ajout */
  margin-bottom: 0;
}
.users .person p.name-time .time {
  font-weight: 400;
  font-size: 0.7rem;
  text-align: right;
  color: #8796af;
}
.users .person p.name-time .time.init {
  color: var(--vertclair);
}
.users .person p.name-time .time.dest {
  color: var(--orange);
}
.users .person p.name-time .time.init.btq {
  color: var(--vertfonce);
}
/* .users .person .user  */
.status {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #e6ecf3;
  position: absolute;
  top: 0;
  right: 0;
}
.users .person .user .status.online,
.topbar .dropdown-list .dropdown-item .dropdown-list-image
.status-indicator.online {
  background-color: #8cf952;
}
.users .person .user .status.away,
.topbar .dropdown-list .dropdown-item .dropdown-list-image
.status-indicator.away {
  background-color: #f9be52;
}
.users .person .user .status.busy,
.topbar .dropdown-list .dropdown-item .dropdown-list-image
.status-indicator.busy {
  background-color: #fd7274;
}
.users .person .user .status.offline,
.topbar .dropdown-list .dropdown-item .dropdown-list-image
.status-indicator.offline {
  background-color: #c4d2e2;
}
/* Page show */
/* Forumlaire */
.form-outline.custom .chat-input {
  background-color: white;
}
.form-outline.custom .chat-input:focus {
  box-shadow: unset;
  outline: unset;
  border: 1px solid var(--orange);
}

/* Boutons custom */
.align_button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.block_buttons.chat_submit {
  gap: 0; 
  margin: 0.5rem 0;
  background: var(--orange);
}
.block_buttons.chat_submit button,
.block_buttons.chat button,
.block_buttons.chat a {
  font-family: "Roboto", "Arial", sans-serif;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  text-align: center;
  color: white;
  padding: 0.5rem 0.8rem;
  width: 100%;
  font-size: .7rem;
}
.block_buttons.chat_submit button {
  font-size: .9rem;
}
.block_buttons.chat {
  margin: 0;
  width: 100%;
  max-width: 170px;
}

.block_buttons.chat.see.new a {
  background: var(--vertclair);
}
.block_buttons.chat.see.new.btq a {
  background: var(--vertfonce);
}
.block_buttons.chat.see.none a {
  background: var(--orange);
}
.block_buttons.chat button:hover,
.block_buttons.chat a:hover {
  filter: brightness(0.8);
}
.bloc_form.btn-custom.chat {
  margin: 1rem auto;
}

/* BASE */
.chat-container {
  background: #eee;
  position: relative;
  padding: 1rem;
  margin: 0 auto;
}
.chat-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.chat-container li.chat-left,
.chat-container li.chat-right,
.chat-container p.chat_date {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 40px;
}
.chat-container p.chat_date {
  margin: 0 .2rem;
  font-size: 0.75rem;
  color: #999999;
}
.chat-container li img {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.chat-container li .chat-avatar {
  margin-right: 20px;
}
.chat-container li.chat-right,
.chat-container p.chat-right.chat_date {
  justify-content: flex-end;
}
.chat-container li.chat-right > .chat-avatar {
  margin-left: 20px;
  margin-right: 0;
}
.chat-container li .chat-name {
  font-size: 0.75rem;
  color: #999999;
  text-align: center;
}
.chat-container li .chat-text {
  padding: 0.4rem 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  font-weight: 300;
  line-height: 150%;
  position: relative;
  word-wrap: break-word;
}
.chat-container li .chat-text:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 10px;
  left: -20px;
  border: 10px solid;
  border-color: transparent #ffffff transparent transparent;
}
.chat-container li.chat-right > .chat-text {
  text-align: right;
}
.chat-container li.chat-right > .chat-text:before {
  right: -20px;
  border-color: transparent transparent transparent #ffffff;
  left: inherit;
}
.chat-container li .chat-hour {
  padding: 0;
  margin-bottom: 10px;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 15px;
}
.chat-container li .chat-hour > span {
  font-size: 16px;
  margin: 0 .1rem;
  color: var(--vertclair);
}
.chat-container li .chat-hour span.btq {
  color: var(--vertfonce);
}
.chat-container li.chat-right > .chat-hour {
  margin: 0 15px 0 0;
}
@media (min-width: 1200px) {
  .messagerie_listing,
  .chat-container {
    width: 70%;
  }
}
@media (max-width: 1200px) {
  .chat-container {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .chat-container li.chat-left,
  .chat-container li.chat-right {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .chat-container li img {
    width: 32px;
    height: 32px;
  }
  .chat-container li.chat-left .chat-avatar {
    margin: 0 0 5px 0;
    display: flex;
    align-items: center;
  }
  .chat-container li.chat-left .chat-hour {
    justify-content: flex-end;
  }
  .chat-container li.chat-left .chat-name {
    margin-left: 5px;
  }
  .chat-container li.chat-right .chat-avatar {
    order: -1;
    margin: 0 0 5px 0;
    align-items: center;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
  }
  .chat-container li.chat-right .chat-hour {
    justify-content: flex-start;
    order: 2;
  }
  .chat-container li.chat-right .chat-name {
    margin-right: 5px;
  }
  .chat-container li .chat-text {
    font-size: 0.8rem;
  }
}
@media (max-width: 800px) {
  .messagerie_listing,
  .chat-container {
    width: 95%;
  }
  .users .person {
    flex-direction: column;
    gap: 1rem;
  }
  .box_user,
  .box_name_time {
    width: 100%;
    gap: 0.5rem;
  }
  .chat-text p {
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
  .messagerie_listing {
    width: 100%;
  }
  .block_buttons.chat.see {
    margin: 0 auto;
  }
  .chatbox {
    padding: 0.5rem;
  }
  .box_user,
  .box_user:nth-child(2) {
    flex-flow: column-reverse;
    align-items: center;
    text-align: center;
  }
}
