.wrapform{
    max-width: 700px ; width: 100%; margin: 0 auto;
}
#contener_form {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}
#contener_form form {
    width: 80%;
}
#contener_form .bloc_form {
    display: flex;
    flex-flow: column;
    gap: 0.3rem;
    justify-content: center;
}

/* Formulaire login */
#contener_form .bloc_form.login {
    margin: 1rem auto;
}
/* Toutes les div champs */
#filter_form form .bloc_form div {
    width: 48%;
}
/* Div spécifique au bouton */
#filter_form form .bloc_form .hover-effect.search > div.form-group {
    width: 100%;
}
#contener_form input {
    background-color: rgb(235, 235, 235);
    border-radius: 12px;
    border: none;
    color: rgb(70, 70, 70);
    font-size: 18px;
    padding: 10px 20px;
}
#contener_form input:focus {
    outline: 2px solid var(--orange);
}
/* Formulaire Modifier mon profil boutique / Modifier mon mot de passe */
label.modif_profile,
label.modif_password {
    margin-bottom: 0;
    padding: .1rem .2rem;
}
#contener_form input.modif_profile,
#contener_form input.modif_password {
    margin-bottom: 1rem;
}

/* Formulaires annonce */
.annonce_form .bloc_form{
    margin-bottom: 2rem;
}
.annonce_form .bloc_form textarea{
    height: 15rem;
    resize: none;
}
.annonce_form .bloc_submit{
    display: flex;
    justify-content: center;
}
.annonce_form .bloc_submit button{
    width: 40%;
    margin-top: 2rem;
}
/* Formulaires boutique */
.boutique_form p {
    margin: 0;
}
.boutique_form span {
    color: red;
}
.boutique_form .bloc_form {
    margin-bottom: 2rem;
}
.boutique_form .bloc_form textarea{
    height: 15rem;
    resize: none;
}
.boutique_form .bloc_form .adress_form {
    width: 49%;
}
.boutique_form .bloc_form .city_search{
    position: relative;
    width: 49%;
}
#city_suggest{
    margin-top: 0 ;
}
/* Inscription boutons radio */
.radio_box{
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
/* Mot de passe oublié */
.forgot {
    text-align: center;
    margin: 0 auto;
}
.forgot a {
    color: var(--vertclair);
}
.forgot a:hover {
    color: var(--orange);
}
.message_forgot {
    padding: 1rem;
}
/* Messages d'erreur */
.form-error {
    color: red;
}

/* Retour à l'accueil */
.back_home {
    color: var(--vertclair);
}
.back_home:hover {
    color: var(--vertfonce);
}
/* RESPONSIVE */
@media all and (max-width: 750px){
    #contener_form button {
        font-size: 1rem;
    }
}
@media all and (max-width: 450px){
    #contener_form {
        padding: 1.5rem 0;
    }
    #contener_form input {
        font-size: 1.2rem;
    }
    .btn-custom {
        width: 80%;
    }
}
@media all and (max-width: 375px){
    /* #contener_form h1 {
        font-size: 1.7rem;
    } */
    #contener_form label {
        font-size: .9rem;
    }
    #contener_form input {
        font-size: 1rem;
    }
    .forgot {
        font-size: .8rem;
    }
    #contener_form button {
        font-size: .9rem;
    }
}