/* The switch - the box around the slider */
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider,
.slider2,
.slider3,
.slider4 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before,
.slider2:before,
.slider3:before,
.slider4:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider,
input:checked + .slider2,
input:checked + .slider3,
input:checked + .slider4 {
    /* background-color: #2196F3; */
    background-color: var(--vertfonce);
}

input:focus + .slider,
input:focus + .slider2,
input:focus + .slider3,
input:focus + .slider4 {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before,
input:checked + .slider2:before,
input:checked + .slider3:before,
input:checked + .slider4:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round,
.slider2.round,
.slider3.round,
.slider4.round{
    border-radius: 34px;
}

.slider.round:before,
.slider2.round:before,
.slider3.round:before,
.slider4.round:before {
    border-radius: 50%;
}

/* */
.pref_card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pref_card p{
    margin: 0;
}