{% extends 'layout/front_profil_base.html.twig' %}

{% block title %}
    <title>Modifier mon profil</title>
{% endblock %}

{% block container %}
    <h1 class="title_top">Modifier mon profil</h1>
    <div class="card-body">
        {{ include('front/profil/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}
