button {
    background: transparent;
    border: unset;
    border: none;
}
button.btn {
    border-radius: unset !important; 
}
.btn:focus {
    box-shadow: unset !important;
}
.hover-effect,
.hover-effect a,
.hover-effect button {
    display: block;
    width: 100%;
}
/* Block */
.block_btn_modify.back {
    justify-content: flex-end;
    display: flex;
    gap: .5rem;
    margin-bottom: .5rem;
}
.block_buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: baseline;
    gap: .5rem;
    margin: .5rem auto;
}
.block_buttons.btn_favory {
    justify-content: center;
    margin-bottom: 0;
}
.block_buttons.avis {
    justify-content: unset;
    margin: unset; 
    width: 100%;
}
.block_submit {
    margin: 1rem 0;
}
/* Gérer mes annonces */
.block_btn_modify,
.block_btn_inactive,
.block_btn_delete {
    display: inline-block;
}
.block_btn_modify.plus {
    width: 100%;
    padding: .5rem 0;
}
/* Boutons par défaut */
.btn-custom {
    width: 40%;
    margin: 0 auto;
}
/* BTQ */
.btn-custom.btq {
    width: 20%;
}
.btn-custom .hover-effect {
    position: relative;
}
.btn-custom .hover-effect:before {
    width: 2px;
    height: 0%;
}
.btn-custom .hover-effect:after {
    width: 0%;
    height: 2px;
}
.btn-custom .hover-effect:hover:before {
    height: 100%;
}
.btn-custom .hover-effect:hover:after,
.btn-custom button:hover:after,
.btn-custom a:hover:after
{
    width: 100%;
}
.btn-custom button,
.btn-custom a {
    cursor: pointer;
    font-size: 18px;
    color: white;
    padding: .7rem;
    width: 100%;
    background: linear-gradient(to right, transparent 50%, var(--vertclair) 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: 500ms ease all;
    text-align: center;
}
.btn-custom .hover-effect:before,
.btn-custom .hover-effect:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: var(--orange);
    transition: 500ms ease all;
}
.btn-custom button:before,
.btn-custom button:after,
.btn-custom a:before,
.btn-custom a:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: var(--orange);
    transition: 500ms ease all;
}
.btn-custom.btq button,
.btn-custom.btq a {
    background: linear-gradient(to right, white 50%, var(--vertfonce) 50%);
    background-size: 200% 100%;
    background-position: right;
}
.btn-custom.btq button:before,
.btn-custom.btq button:after,
.btn-custom.btq span:before,
.btn-custom.btq span:after,
.btn-custom.btq a:before,
.btn-custom.btq a:after {
    background: var(--vertfonce);
}
.btn-custom button:hover,
.btn-custom a:hover,
.btn-custom.btq button:hover,
.btn-custom.btq a:hover,
.hover-effect.inactive a:hover,
.hover-effect.delete a:hover {
    background-position: left;
}
.btn-custom button:hover,
.btn-custom a:hover {
    color: var(--orange);
}
.btn-custom.btq button:hover,
.btn-custom.btq a:hover {
    color: var(--vertfonce);
}
.btn-custom button:before,
.btn-custom a:before {
    height: 0%;
    width: 2px;
}
.btn-custom button:after,
.btn-custom a:after {
    width: 0%;
    height: 2px;
}
.btn-custom button:hover:before,
.btn-custom a:hover:before {
    height: 100%;
}
span.avis {
    flex:2;
}
.btn-custom.avis {
    width: 50%;
}
.btn-custom.modify,
.btn-custom.inactive,
.btn-custom.delete,
.btn-custom.favory,
.hover-effect.modify {
    width: unset;
    margin: unset;
}
.hover-effect.modify i,
.hover-effect.inactive i,
.hover-effect.delete i {
    width: 25px;
    color:white;
}
.hover-effect.inactive a {
    background: linear-gradient(to right, transparent 50%, var(--orange) 50%);
    background-size: 200% 100%;
    background-position: right;
}
.hover-effect.delete a {
    background: linear-gradient(to right, transparent 50%, var(--rouge_supp) 50%);
    background-size: 200% 100%;
    background-position: right;
}
.btn-custom .hover-effect.delete:before,
.btn-custom .hover-effect.delete:after,
.btn-custom.delete button:before,
.btn-custom.delete button:after,
/* .btn-custom.delete span:before,
.btn-custom.delete span:after, */
.btn-custom.delete a:before,
.btn-custom.delete a:after {
    background: var(--rouge_supp);
}
.hover-effect.delete a:hover,
.hover-effect.delete:hover i
{
    color: var(--rouge_supp);
}
.hover-effect.modify.btq:hover i {
    color: var(--vertfonce);
}
.hover-effect.inactive a:hover,
.hover-effect.modify a.modif_user:hover i,
.hover-effect.inactive:hover i {
    color: var(--orange);
}
.btn-custom.inactive button:before,
.btn-custom.inactive button:after,
.btn-custom.inactive span:before,
.btn-custom.inactive span:after,
.btn-custom.inactive a:before,
.btn-custom.inactive a:after 
{
    background: var(--orange);
}
.btn-custom.modify.plus {
    display: flex;
    justify-content: flex-end;
}
/* Formulaire search */
.hover-effect.search .btn {
    padding: .5rem;
}
.btn-custom.btq.modif_profile,
.btn-custom.modif_profile {
    margin: 1rem auto 0;
}
/* Bouton tableau Mes Conversations Espace Boutique */
.table_actions .btn-custom a.conv {
    padding: .3rem;
}
/* RESPONSIVE */
@media (max-width: 1100px) {
    .bloc_form.btn-custom {
        width: 40%;
    }
    .btn-custom.avis {
        width: 60%;
    }
    .bloc_form.btn-custom.modify,
    .bloc_form.btn-custom.inactive,
    .bloc_form.btn-custom.delete,
    .bloc_form.btn-custom.favory {
        width: unset;
    }
}
@media (max-width: 900px) {
    .btn-custom.avis {
        width: 80%;
    }
}
@media (max-width: 800px) {
    .btn-custom.avis {
        flex: 1;
    }
    span.avis {
        display: contents;
    }
    .btn-custom a {
        padding: .5rem;
    }
}
@media (max-width: 767px) {
    .bloc_form.btn-custom {
        width: 50%;
    }
}
@media (max-width: 600px) {
    .bloc_form.btn-custom.avis {
        width: 80%;
    }
    .bloc_form.btn-custom {
        width: 60%;
    }
}
@media (max-width: 500px) {
    .bloc_form.btn-custom {
        width: 80%;
    }
    .bloc_form.btn-custom.avis {
        width: 100%;
    }
    .btn-custom button,
    .btn-custom a {
        font-size: .8rem;
    }
    .btn-custom a {
        padding: .5rem;
    }
}
@media (max-width: 450px) {
    .bloc_form.btn-custom {
        width: 100%;
    }
}
@media (max-width: 350px) {
    .btn-custom a {
        font-size: .9rem;
    }
}

