<div class="btn-primary btn">
    {{ knp_pagination_sortable(annonces, 'Prix', 'a.price') }}
</div>
<div class="btn-primary btn">
    {{ knp_pagination_sortable(annonces, 'Date', 'a.created_at') }}
</div>