{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Modifier une annonce</title>
{% endblock %}

{% block body %}
    <h1>Modifier une Annonce</h1>

    {{ include('front/annonce/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
