{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Nouvelle annonce</title>
{% endblock %}

{% block body %}
<div class="card-header py-3 d-flex justify-content-between align-items-center">
    <h3 class="annonce_title" style="margin: 0">Créer une annonce</h3>
</div>
<div class="card-body">
    {{ include('front/annonce/_form.html.twig') }}
</div>
{% endblock %}
