{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Nouvelle annonce</title>
{% endblock %}

{% block body %}
    <h1>Ajouter une annonce</h1>

    {{ include('front/annonce/_form.html.twig') }}

{% endblock %}
