{% extends 'layout/front_base.html.twig' %}

{% block title %}
    Recherche d'annonce
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('recherche_annonce') }}
{% endblock %}

{% block body %}
    <div class="d-flex flex-column">
        <div class="js-filter">
            <div id="filter_form">
                <h3 class="title_section_home">Filtres</h3>
                {% include 'front/annonce/_filter.html.twig' with {form : recherche, min : min, max : max} only %}
            </div>

            {% if annonces|length > 0 %}
                <div>
                    <p class="title_section_home">Résultats</p>
                </div>
                <div class="wrap">
                <div class="recherche-tri js-filter-sort">
                    <p>Trier par :</p>
                    {% include 'front/annonce/_sort.html.twig' %}
                </div>
                </div>

                <div class="js-filter-content">
                    {% include 'front/annonce/_annonces.html.twig' %}
                </div>
            {% else %}
                <div class="no_result_annonces" style="text-align: center; padding: 5rem 0">
                    <h1>Oups..! :(</h1>
                    <p>Nous n'avons pas trouvé d'annonces respectant vos critères !</p>
                </div>
            {% endif %}

            <div class="js-filter-pagination" id="pagination_box">
                {{ knp_pagination_render(annonces) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('recherche_annonce') }}
{% endblock %}
