{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Mes préférences</title>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('preferences_boutique') }}
{% endblock %}

{% block body %}
    <div class="title_top">Mes préférences</div>
    <div class="card shadow mb-4 boutique_detail">
        <h6 class="annonce_title padding-10">Mes informations personnelles</h6>
        <div class="card-header py-3  d-flex justify-content-between align-items-center">
            <div class="pref_card">
                <p>Afficher mon numéro de téléphone</p>
                <label class="switch">
                    <a href="#">
                        <input id="input_tel" type="checkbox" checked>
                        <span class="slider round"></span>
                    </a>
                </label>
            </div>
        </div>
        <div class="card-header py-3  d-flex justify-content-between align-items-center">
            <div class="pref_card">
                <p>Afficher la carte sur ma page publique</p>
                <label class="switch">
                    <a href="#">
                        <input id="card_checkbox" type="checkbox" {% if boutique.cardActive %} checked {% endif %}>
                        <span class="slider2 round"></span>
                    </a>
                </label>
            </div>
        </div>

        <h6 class="annonce_title padding-10">Mes notifications</h6>
        <div class="card-header py-3  d-flex justify-content-between align-items-center">
            <div class="pref_card">
                <p>Recevoir un mail si j'ai reçu un message</p>
                <label class="switch">
                    <a href="#">
                        <input id="input_notif_message" type="checkbox">
                        <span class="slider3 round"></span>
                    </a>
                </label>
            </div>
        </div>
        <div class="card-header py-3  d-flex justify-content-between align-items-center">
            <div class="pref_card">
                <p>Recevoir un mail lorsqu'une de mes boutiques favorites publie une annonce</p>
                <label class="switch">
                    <a href="#">
                        <input id="input_notif_annonces" type="checkbox">
                        <span class="slider4 round"></span>
                    </a>
                </label>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('preferences_boutique') }}
    <script>
        $(document).ready(function () {
            const input_tel   = $('#input_tel')
            const boutton_tel   = $('.slider')
            boutton_tel.click( function (e) {
                e.preventDefault();
                if (input_tel.prop('checked') === true){
                    input_tel.prop('checked', false)
                }else{
                    input_tel.prop('checked', true)
                }
            })

            const input_card   = $('#card_checkbox')
            const boutton_card = $('.slider2')
            boutton_card.click( function (e) {
                e.preventDefault();
                let path = '{{ path('app_toggle_cardActive') }}';
                $.ajax({
                    type: "POST",
                    url: path,
                    dataType : 'html',
                    data: {{ boutique.id }},
                    success: function(){
                        if (input_card.prop('checked') === true){
                            input_card.prop('checked', false)
                        }else{
                            input_card.prop('checked', true)
                        }
                    }
                });
            })

            const input_message  = $('#input_notif_message')
            const boutton_message   = $('.slider3')
            boutton_message.click( function (e) {
                e.preventDefault();
                if (input_message.prop('checked') === true){
                    input_message.prop('checked', false)
                }else{
                    input_message.prop('checked', true)
                }
            })

            const input_annonces  = $('#input_notif_annonces')
            const boutton_annonces   = $('.slider4')
            boutton_annonces.click( function (e) {
                e.preventDefault();
                if (input_annonces.prop('checked') === true){
                    input_annonces.prop('checked', false)
                }else{
                    input_annonces.prop('checked', true)
                }
            })
        })
    </script>
{% endblock %}