.img_profil_btq {
    border-radius: 50%;
    border:5px solid white;
}
.title_boutique {
    text-align: center;
    font: var(--title-font);
    font-size: 2rem;
    line-height: 1.5;
    color: var(--marron);
}
.title_boutique a {
    color: var(--marron);
}
.rating_stars_hover {
    color: var(--orange);
}
.rating {
    cursor: pointer;
}
/* Hero */
#slider-home_boutique {
    position: relative;
}
#slider-home_boutique .photo_profile {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -20%;
    left: 15%;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    z-index: 5;
}
#slider-home_boutique .photo_profile a {
    display: block;
}
.head_boutique {
    padding-bottom: 1rem;
}
.head_btq_line {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.infos_vendeur {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 1rem;
    width: 65%;
    margin: 0 auto 30px;
}
.favory_icon {
    font-size: 1.5rem;
    padding:.7rem;
    border: 1px solid grey;
    border-radius: 50%
}
.favory_active {
    color: red;
}
.favory_active .favory_icon {
    border: 1px solid red;
}
#boutique .rating_boutique {
    margin: 1rem 0;
}
.contact_vendeur {
    border-left: 1px solid rgb(241, 241, 241);
    border-top: 1px solid rgb(241, 241, 241);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    width: 25%;
    text-align: center;
}
.contact_vendeur .message_visiteur {
    color: var(--vertclair);
}
.contact_vendeur .message_visiteur:hover {
    color: var(--orange);
}
.contact {
    font-size: 1.1rem;
}
.telephone {
    text-align: center;
    letter-spacing: .1rem;
}
.message_link {
    padding: .8rem 1rem;
    border-radius: 5px;
    text-align: center;
    background: var(--vertclair);
    color: white;
}
.message_link:hover {
    filter: brightness(.8);
}
.description_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.resp_contact {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.resp_contact p,
.contact_vendeur p {
    margin-bottom: 0;
}
/* RESPONSIVE */
@media all and (max-width: 1050px){
    .title_boutique {
        padding: .5rem;
    }
    #slider-home_boutique .photo_profile {
        width: 120px;
        height: 120px;
    }
}
@media all and (max-width: 800px){
    .contact_vendeur {
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;
        gap: 0;
    }
    .resp_contact {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 1.5rem;
    }
    .message_link {
        padding: .5rem 1rem;
    }
}
@media all and (max-width: 750px){
    .title_boutique {
        font-size: 1.5rem;
    }
    #slider-home_boutique .photo_profile {
        width: 100px;
        height: 100px;
        left: 10%;
    }
}
@media (max-width: 700px) {
    .head_boutique {
        padding-bottom: 0;
    }
    .infos_vendeur {
        width: 90%;
        margin: unset;
        gap: .3rem;
    }
    #boutique .favory_icon {
        font-size: unset;
        padding: .5rem;
    }
}
@media (max-width: 500px) {
    #slider-home_boutique .photo_profile {
        width: 80px;
        height: 80px;
        left: 10%;
    }
    .infos_vendeur p {
        font-size: .8rem;
    }
    .resp_contact {
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    }
    .contact_vendeur {
        gap: .5rem;
    }
    .resp_contact p,
    .contact_vendeur p {
        margin-bottom: 0;
    }
}
@media all and (max-width: 450px) {
    .title_boutique {
        font-size: 1.2rem;
    }
}
@media all and (max-width: 350px) {
    .infos_vendeur {
        width: 95%;
        flex-direction: column;
    }
    .infos_vendeur p {
        font-size: .6rem;
    }
}