.title_boutique {
    margin: 2rem 0;
}
.hover {
    color: orange;
}
.rating{
    cursor: pointer;
}
/* Hero */
#slider-home_boutique {
    position: relative;
}
#slider-home_boutique .photo_profile {
    width: 12%;
    position: absolute;
    bottom: -15%;
    left: 15%;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    z-index: 999;
}
#slider-home_boutique .photo_profile img {
    border-radius: 50%;
}
.infos_vendeur {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 1rem;
    width: 65%;
    margin: 0 auto 30px;
}
#boutique .favory_icon {
    font-size: 1.5rem;
    padding:.7rem;
    border: 1px solid grey;
    border-radius: 50%
}
#boutique .rating_boutique {
    margin: 1rem 0;
}
#boutique .description_boutique {
    padding: 1rem 0;
}
.contact_vendeur {
    border-left: 1px solid rgb(241, 241, 241);
    border-top: 1px solid rgb(241, 241, 241);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    width: 25%;
    text-align: center;
}
.contact_vendeur .message_visiteur {
    color: var(--vertclair);
}
.contact_vendeur .message_visiteur:hover {
    color: var(--orange);
}
.contact {
    font-size: 1.1rem;
}
.telephone {
    text-align: center;
    letter-spacing: .1rem;
}
.message_link {
    padding: .8rem 1rem;
    border-radius: 5px;
    text-align: center;
    background: var(--vertclair);
    color: white;
}
.message_link:hover {
    filter: brightness(.8);
}
.description_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
