.title_boutique {
    text-align: center;
    font: var(--title-font);
    font-size: 2rem;
    line-height: 1.5;
    color: var(--marron);
}
.title_boutique a {
    color: var(--marron);
}
/* .hover {
    color: orange;
} */
.rating{
    cursor: pointer;
}
/* Hero */
#slider-home_boutique {
    position: relative;
}
#slider-home_boutique .photo_profile {
    /* width: 12%; */
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -25%;
    left: 15%;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    z-index: 5;
}
#slider-home_boutique .photo_profile a {
    display: block;
}
/* #slider-home_boutique .photo_profile img {
    border-radius: 50%;
} */
.head_boutique {
    padding-bottom: 1rem;
}
.head_btq_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infos_vendeur {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 1rem;
    width: 65%;
    margin: 0 auto 30px;
}
#boutique .favory_icon {
    font-size: 1.5rem;
    padding:.7rem;
    border: 1px solid grey;
    border-radius: 50%
}
#boutique .rating_boutique {
    margin: 1rem 0;
}
/* #boutique .description_boutique {
    padding: 1rem 0;
} */
.contact_vendeur {
    border-left: 1px solid rgb(241, 241, 241);
    border-top: 1px solid rgb(241, 241, 241);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    width: 25%;
    text-align: center;
}
.contact_vendeur .message_visiteur {
    color: var(--vertclair);
}
.contact_vendeur .message_visiteur:hover {
    color: var(--orange);
}
.contact {
    font-size: 1.1rem;
}
.telephone {
    text-align: center;
    letter-spacing: .1rem;
}
.message_link {
    padding: .8rem 1rem;
    border-radius: 5px;
    text-align: center;
    background: var(--vertclair);
    color: white;
}
.message_link:hover {
    filter: brightness(.8);
}
.description_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* RESPONSIVE */
@media all and (max-width: 1050px){
    .title_boutique {
        padding: .5rem;
    }
    #slider-home_boutique .photo_profile {
        width: 120px;
        height: 120px;
    }
}
@media all and (max-width: 750px){
    .title_boutique {
        font-size: 1.5rem;
    }
    #slider-home_boutique .photo_profile {
        width: 100px;
        height: 100px;
        left: 10%;
    }
}
@media (max-width: 700px) {
    .infos_vendeur {
        width: 90%;
        margin: unset;
    }
}
@media (max-width: 500px) {
    #slider-home_boutique .photo_profile {
        width: 80px;
        height: 80px;
        left: 10%;
    }
    .infos_vendeur p {
        font-size: .8rem;
    }
}
@media all and (max-width: 450px){
    .title_boutique {
        font-size: 1.2rem;
    }
}