{% extends 'layout/admin_base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h1 class="title_top">Modifier mon profil</h1>
        {{ include('admin/profil/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
