<form style="display: inline-block" method="post" action="{{ path('app_remove_favory', {'id': fav.id}) }}" onsubmit="return confirm('Voulez vous vraiment retirer cette boutique de vos favoris?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fav.id) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-xmark"></i></i></button>
</form>
