#slider-home{
    display: flex;
    justify-content: center;
}
/* Annonces */
#annonces {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 20px;
}
#annonces h2 {
    font-family: 'Unkempt';
    color: #AB7B52;
    margin-bottom: 25px;
}
#annonces p {
    padding: .3em;
}
.annonce_box a {
    display:block;
}
.annonce_box {
    background-color: #FFFFFF;
    box-shadow: 10px 5px 5px rgb(228, 228, 228);
    margin-bottom: 20px;
    position: relative;
    display: flex;
}
.annonce_box:nth-child(2n+1) {
    flex-flow: row-reverse;
}
.annonce_img {
    width: 22%;
}
.annonce_text {
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em;
}
.annonce_title {
    font-weight: bold;
}
