/* Page d'accueil */
/* Effet titre "Les dernières annonces" */
.derniere_annonce {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.4s;
}
.derniere_annonce:hover{
    text-decoration-color: #AB7B52;
}
/* Séparateur */
.separator_home {
    border-top: 1px solid var(--vertfonce);
    width: 50%;
    margin: 0 auto .5rem;
}

/* RESPONSIVE */
@media all and (max-width: 750px){
    .separator_home {
        margin: 0 auto 1rem;
    }
}

