/* Page d'accueil */
/* Titres */
/* Effet titre "Les dernières annonces" */
.derniere_annonce {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.4s;
}
.derniere_annonce:hover{
    text-decoration-color: #AB7B52;
}
/* Séparateur */
.separator_home {
    border-top: 1px solid var(--vertfonce);
    width: 50%;
    margin: .5rem auto;
}

/* RESPONSIVE */
/* @media all and (max-width: 1050px){
    .title_section_home {
        padding: .5rem;
    }
}
@media all and (max-width: 750px){
    .title_section_home {
        font-size: 1.5rem;
    }
}
@media all and (max-width: 450px){
    .title_section_home {
        font-size: 1.2rem;
    }
} */
