header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.5rem 5rem 0.5rem 5rem;
}
header .logo{
    width: 10%;
}
header nav ul{
    display: flex;
}
header nav ul li{
    padding: 1rem;
}
header nav ul li a{
    transition: all 0.4s;
    font-size: large;
}
header nav ul li a:hover{
    color: #8FC642;
}
.active{
    color: #41B04F;
}