#header {
    background-color: white;
    box-shadow: 2px 2px 5px rgb(228, 228, 228);
    padding: .8rem;
}
#header .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .logo {
    width: 10%;
}
.fixed {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95) !important;
    transform: translateY(0px);
    transition: transform .5s;
    width: 100%;
    z-index: 10;
}
.main_nav {
    width: 70%; 
}
.main_ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}
.main_li {
    padding: 1.2rem;
    text-align: center;
}
.main_li a {
    transition: all 0.3s;
    font: var(--menu_link);
    position: relative;
}
.main_li a:hover {
    color: var(--vertclair);
}
.active {
    color: var(--vertclair);
}
/* Menu déroulant connecté */
#button_dropdown {
    border-radius: 50%;
}
.img_profile {
    border-radius: 50%;
}
.link_menu_drop {
    cursor: pointer;
}
.link_menu_drop:active {
    filter: brightness(75%); 
}
.link_menu_drop img {
    border-radius: 50%;
}
.dropdown_front {
    position: relative;
    padding: 10px;
    width: 8%;
}
.ul_dropdown {
    padding: .7rem .5rem;
    position: absolute;
    z-index: 999;
    top: 90%;
    right: 0;
    transform: scaleY(0);
    transform-origin: center top;
    transition: all 0.3s ease;
    background-color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.li_dropdown {
    padding: .5rem 1.5rem;
}
.ul_dropdown.open_drop {
    transform:scaleY(1);
}
.li_dropdown a {
    transition: all 0.3s;
}
.li_dropdown a:hover {
    color: var(--vertclair);
}
#link_burger {
    display: none;
}

/* MODAL */
.fa-solid.fa-info {
    color: grey;
}
.w3-container {
    z-index: 99;
}
.w3-button {
    border: 1px solid grey;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
}
.w3-button:hover .fa-solid.fa-info,
.w3-button:hover {
    color: var(--vertclair);
    border-color: var(--vertclair);
}
.w3-display-topright {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}
.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    padding-bottom: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    width: 75%;
    height: 100%;
    overflow: auto;
    box-shadow: 2px 2px 25px 0px rgb(0 0 0 / 5%) inset, -6px -2px 25px 0px rgb(0 0 0 / 8%) inset;
}
.w3-container.modal_padding {
    padding: 2.5rem;
}
.modal_title {
    font-family: 'Unkempt', sans-serif;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    color: var(--marron);
    font-weight: bold;
}
.modal_p, .modal_ul {
    padding: .5rem;
}
.modal_strong {
    font-size: 1.1rem;
}
.modal_strong.modal_str_color {
    color: var(--vertclair);
}
.modal_subtitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.modal_sub_span {
    font-family: 'Unkempt';
    color: var(--orange);
    font-size: 1.6rem;
}
.fa-seedling {
    color: var(--vertclair);
}
.modal_li {
    padding: .5rem .5rem .5rem 3rem;
}
.modal_git {
    border: 1px solid grey;
    margin: 1rem 0;
}
.fa-github {
    font-size: 2rem;
}
.modal_link_git {
    font-weight: bold;
    word-break: break-all;
}
@media all and (max-width: 900px) {
    #header .logo {
        width: 12%;
    }
    .dropdown_front {
        width: 10%;
    }
}
@media all and (max-width: 750px) {
    .w3-button {
        width: 40px;
        height: 40px;
    }
    .w3-container.modal_padding {
        padding: 2rem;
    }
    .w3-modal-content {
        width: 80%;
    }
    .modal_title {
        font-size: 1.7rem;
    }
    .modal_p, .modal_li {
        font-size: .9rem;
    }
    .modal_li {
        padding: .2rem .5rem .2rem 1rem;
    }
    .modal_strong {
        font-size: 1rem;
    }
    .modal_subtitle {
        font-size: 1.3rem;
    }
    .modal_sub_span {
        font-size: 1.5rem;
    }
    .fa-github {
        font-size: 1.7rem;
    }
    #header {
        position: relative;
        max-width:750px;
    }
    #header .logo {
        width: 15%;
    }
    /* Menu burger */
    .dropdown_separator {
        background-color: rgb(190, 190, 190);
        width: 30%;
        display: none;
        margin: 0 auto;
        height: 1px;
    }
    #link_burger {
        display:block;
    }
    #burger {
        width:30px;
        height:2px;
        background:black;
        display:inline-block;
        position:relative;
    }
    #burger::before,
    #burger::after {
        content:'';
        width:30px;
        height:2px;
        background:black;
        display:inline-block;
        position:absolute;
        transform-origin: center;
        transition: all 0.3s ease;
    }
    #burger::before {
        top:-7px;
    }
    #burger::after {
        top:7px;
    }
    #burger.open {
        background:transparent;
    }
    #burger.open::before {
        transform: rotate(45deg);
        top:0;
        background-color: black;
    }
    #burger.open::after {
        transform: rotate(-45deg);
        top:0;
        background-color: black;
    }
    .ul_burger {
        background-color: white;
        flex-flow: column nowrap;
        position:absolute;
        width:100%;
        left:0;
        top:98%;
        padding-top:10px;
        transform:scaleY(0);
        transform-origin:center top;
        transition:all 0.3s ease;
        z-index: 9999;
    }
    .ul_burger.open {
        transform:scaleY(1);
    }
    /* Menu déroulant connecté */
    #button_dropdown {
        display: none;
    }
    .dropdown_front {
        max-width: 750px;
        width: 100%;
    }
    .ul_dropdown {
        padding: 0 0 .5rem;
        transform: scaleY(1);
        max-width: 750px;
        width: 100%;
        top: 0;
        box-shadow: none;
    }
    .li_dropdown {
        padding: 1rem;
        text-align: center;
        font-size: large;
    }
    .ul_shadow:nth-last-child(n) {
        box-shadow: rgb(222, 222, 222) 0px 5px 5px 0px;
    }
    .main_li {
        width: 100%;
    }
    .main_li, .li_dropdown {
        border-top: .5px solid rgb(222, 222, 222);
    }
}
@media all and (max-width: 650px) {
    #header .logo {
        width: 17%;
    }
}
@media all and (max-width: 550px) {
    .w3-modal {
        padding : 70px;
    }
    .w3-modal-content {
        width: 85%;
    }
    .modal_li {
        padding: .5rem;
    }
    .w3-container.modal_padding {
        padding: 1rem;
    }
    .w3-display-topright {
        padding: .5rem;
        font-size: 1.7rem;
    }
    .modal_title {
        font-size: 1.6rem;
    }
    #header .logo {
        width: 20%;
    }
}
@media all and (max-width: 450px) {
    .w3-button {
        font-size: 1rem;
        width: 30px;
        height: 30px;
    }
    #header .logo {
        width: 22%;
    }
}
@media all and (max-width: 350px) {
    #header .logo {
        width: 35%;
    }
}