Options -Indexes -MultiViews

<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteBase /

   # force WWW for remote servers (not localhost)
   RewriteCond %{HTTP_HOST} !^(?:www\.|localhost$) [NC]
   RewriteCond %{HTTPS}s ^on(s)$ [NC]
   RewriteRule ^(.*)$ http%1://www.%{HTTP_HOST}/$1 [R=301,L]

   # remove php extensions (only for GET method)
   RewriteCond %{THE_REQUEST} ^GET\ /(.+)\.php(?:\?|\s) [NC]
   RewriteCond %{REQUEST_FILENAME} -f
   RewriteRule ^ %1/? [L,R=301]

   # don't touch other existing files/folders
   RewriteCond %{REQUEST_FILENAME} -f [OR]
   RewriteCond %{REQUEST_FILENAME} -d
   RewriteRule ^ - [L]

   # force trailing slash
   RewriteCond %{DOCUMENT_ROOT}/$1\.php -f
   RewriteRule ^(.+)$ $1/ [L,R=301]

   # rewrite extensionless php files
   RewriteCond %{DOCUMENT_ROOT}/$1.php -f
   RewriteRule ^(.+)/$ $1.php [L]

   # users activate
   RewriteRule ^users/([^/]+)/?$ users.php?action=$1 [NC,L]
   RewriteRule ^users/([^/]+)/([^/]+)/?$ users.php?action=$1&code=$2 [NC,L]

   # finally, if not found
   RewriteRule ^ index.php [L]
</IfModule>