<form style="display: inline-block" method="post" action="{{ path('app_avis_delete', {'id': av.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet avis?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ av.id) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
</form>
