/* Layout boutique */
.fa-envelope.btq {
    color: white;
}
.wrap.but_wrap {
    padding: unset;
}
/** SB2 **/
/*** Reprise des classes SB2admin pour les contrer ***/
/* Bouton toggle sidebar responsive */
#sidebarToggleTop {
    display: none;
}
#sidebarToggleTop.custom {
    color: var(--vertfonce);
}
#sidebarToggleTop.custom_user {
    color: var(--vertclair);
}
/* Annule le shadow autour du bouton ouverture du menu */
.btn:focus, .btn.focus {
    box-shadow: unset;
}
/* Menu sidebar */
.bg-gradient-primary.custom {
    background-color: whitesmoke;
    background-image: unset;
}
.bg-gradient-primary.custom:nth-child(1) {
    padding-top: 1rem;
}
/* Chevrons */
/* Liens sidebar */
.sidebar-dark .nav-item .nav-link.custom,
.sidebar-dark .nav-item .nav-link.custom_user,
.sidebar-dark .nav-item .nav-link i.custom,
.sidebar-dark .nav-item .nav-link i.custom_user,
.sidebar-dark .nav-item .nav-link.custom[data-toggle="collapse"]::after,
.sidebar-dark .nav-item .nav-link.custom_user[data-toggle="collapse"]::after {
    color: dimgray;
}
/* "INTERFACE" */
/* Espace vendeur */
.sidebar-dark .nav-item .nav-link.custom:hover,
.sidebar-dark .nav-item .nav-link.custom:focus,
.sidebar-dark .nav-item .nav-link.custom:hover i.custom,
.sidebar-dark .nav-item .nav-link.custom:focus i.custom,
.sidebar-dark .sidebar-heading.custom { 
    color: var(--vertfonce);
}
/* "INTERFACE" user */
/* Espace user */
.sidebar-dark .nav-item .nav-link.custom_user:hover,
.sidebar-dark .nav-item .nav-link.custom_user:focus,
.sidebar-dark .nav-item .nav-link.custom_user:hover i.custom_user,
.sidebar-dark .nav-item .nav-link.custom_user:focus i.custom_user,
.sidebar-dark .sidebar-heading.custom_user { 
    color: var(--vertclair);
}
/* Séparateurs */
.sidebar-dark hr.sidebar-divider.custom {
    border-top: 1px solid dimgray;
}
.sidebar-dark hr.sidebar-divider:nth-child(1) {
    display: none;
}
.sidebar-dark.custom #sidebarToggle {
    background-color: dimgray;
}
.sidebar-dark.custom #sidebarToggle:hover {
    background-color: var(--vertfonce);
}
/* user */
.sidebar-dark.custom_user #sidebarToggle:hover {
    background-color: var(--vertclair);
}
/* Container */
.container-fluid.custom {
    padding: 2rem 1rem;
}

/* Accueil Ma boutique */
.boutique_accueil{
    display: flex;
    justify-content: center;
}
.title_top {
    text-align: center;
    padding: 1rem 0;
    color: rgb(70, 70, 70);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: unset;
    font-family: 'Roboto', 'Arial', sans-serif;
}
.title_top.with_sub {
    padding: 1rem 0 0;
}
.subtitle,
.welcome {
    text-align: center;
}
.txt_top_boutique {
    width: 100%;
    gap: 1rem;
}
.txt_top_boutique {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 1rem 0;
    border: 1px solid grey;
}
.welcome {
    font-size: 1.7rem;
}
.message_info p {
    text-align: left;
}
.boutique_accueil ul li,
.boutique_accueil p {
    font-size: 1.2rem;
}
/* Tableaux boutique */
.card-body table th,
.card-body table td {
    text-align: center;
    margin: auto 0;
    vertical-align: baseline;
}
.card-body table tr.list_line td {
    padding: .3rem 0;
}
.card-body table th p,
.card-body table td p {
    margin: 0;
}
.card-body table .table_actions {
    width: 20%;
}
@media (max-width: 850px){
    .title_top {
        font-size: 2rem;
    }
    .welcome {
        font-size: 1.5rem;
    }
    .boutique_accueil ul li,
    .boutique_accueil p {
        font-size: 1rem;
    }
}
@media (max-width: 767px){
    #sidebarToggleTop {
        display: block;
    }
    .container-fluid.custom {
        padding: 0rem 1rem 3rem 1rem;
    }
    .wrapper_text_boutique {
        align-items: center;
    }
    .title_top {
        font-size: 1.6rem;
        padding: 1.5rem 0 .5rem;
    }
    .welcome {
        font-size: 1.3rem;
    }
}
@media (max-width: 600px){
    .card-body {
        padding: 0;
    }
}
@media (max-width: 500px){
    .title_top {
        font-size: 1.4rem;
    }
    .welcome {
        font-size: 1.2rem;
    }
    .boutique_accueil ul li, .boutique_accueil p {
        font-size: .9rem;
    }
}
@media (max-width: 350px) {
    .title_top {
        font-size: 1.2rem;
    }
    .txt_top_boutique {
        border: none;
        margin: 0;
    }
    .message_info {
        padding: 0;
    }
    .boutique_accueil ul {
        margin-left: 0;
    }
}