/* Layout boutique */
.fa-envelope{
    color: white;
}
#sidebarToggleTop {
    display: none;
}
/* Tableaux boutique */
.card-body table th,.card-body table td{
    text-align: center;
    margin: auto 0;
    vertical-align: baseline;
}
.card-body table th p,.card-body table td p{
    margin: 0;
}
.card-body table .table_actions{
    width: 20%;
}
/* Formulaires annonce */
.annonce_form .bloc_form{
     margin-bottom: 2rem;
 }
.annonce_form .bloc_form textarea{
    height: 15rem;
    resize: none;
}
.annonce_form .bloc_submit{
    display: flex;
    justify-content: center;
}
.annonce_form .bloc_submit button{
    width: 40%;
    margin-top: 2rem;
}
/* Détail boutique */
.boutique_detail h4{
    margin: 0;
}
.boutique_infos div{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
/* Formulaires boutique */
.boutique_form p{
    margin: 0;
}
.boutique_form span {
    color: red;
}
.boutique_form .bloc_form{
    margin-bottom: 2rem;
}
.boutique_form .bloc_form textarea{
    height: 15rem;
    resize: none;
}
.boutique_form .bloc_submit{
    display: flex;
    justify-content: center;
}
.boutique_form .bloc_submit button{
    width: 40%;
    margin-top: 2rem;
}
/* Index boutique */
.boutique_accueil .wrap2{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    max-width: 800px;
    margin: 0 auto;
}
.boutique_accueil ul{
    margin: 0 auto;
    max-width : 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: start;
}
.boutique_accueil ul li{
    align-self: flex-start;
    text-align: right;
    list-style: initial;
}
.boutique_accueil ul li, .boutique_accueil p{
    font-size: 1.2rem;
}
.boutique_accueil ul li:last-child{
    margin-bottom: 2rem;
}
.boutique_accueil .btn-primary{
    width: 20%;
    margin: 0 auto;
}

@media (max-width: 767px){
    #sidebarToggleTop {
        display: block;
    }

}