#annonce_card {
    padding: 20px;
}
#annonce_card .flexslider{
    margin: 0;
}
.card{
    background-color: rgb(240, 240, 240);
    padding: 0.5rem;
    box-shadow: 2px 2px 5px lightgray;
    border-radius: 5px;
}
.title {
    text-align: center;
    font-family: 'Unkempt';
    /* background-color: lightgrey; */
    color: var(--marron);
    /* color: dimgray; */
    /* color: var(--orange); */
    font-size: 2rem;
    padding: 0.3rem;
    border-radius: 5px;
}
.title a,
p.title {
    text-align: center;
    color: var(--marron);
}

.content-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.card .image-card{
    width: 30%;
}
.card .image-card ul li img{
    border-radius: 5px;
}
.card .description-card{
    width: 60%;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    margin: auto 0;
}
.card .description-card p{
    margin: 0;
}
.card .description-card span{
    font-weight: bold;
    color: #F7941D;
}