/* ANNONCES */
/* Page d'accueil / Page Annonces / Page Boutique publique */
.annonce_box {
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    width: 80%;
    line-height: 1.5rem;
}
.annonce_box:nth-last-child(1) {
    margin-bottom: 3rem;
}
.annonce_box a {
    display: block;
}
.annonce_img img {
    object-fit: cover;
}
.annonce_img.flexslider {
    border: none;
    margin: 0;
}
.annonce_text {
    padding: 1rem;
}
.annonce_title {
    font-weight: bold;
    color: var(--orange);
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 0;
}
p.annonce_type {
    font-size: .8rem;
    margin-bottom: 0;
}
.annonce_text span {
    font-weight: bold;
}
span.span_created {
    font-weight: normal;
    font-size: .8rem;
    color: dimgray;
}
.annonce_text p.annonce_description {
    margin: .5rem 0; 
}
.annonce_price {
    color: var(--vertclair);
    font-weight: bold;
    padding-top: 1rem;
}

#annonces {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
}
#annonces .annonce_box:nth-child(2n+1) {
    flex-flow: row-reverse;
}

#annonces .annonce_box,
#annonces .annonce_img img {
    height: 270px;
    /* height: 100%; */
}
#annonces .annonce_box:hover {
    transform: scale(1.04);
    transition: .6s;
}
#annonces .annonce_description {
    height: 80px;
    overflow: auto;
    word-break: break-all;
    padding-right: .5rem;
}
#annonces .annonce_img {
    width: 35%;
}
#annonces .annonce_text {
    width: 65%;
}
#annonces .span_description {
    display: block;
}


#focus_annonce {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 1rem;
}
#focus_annonce .annonce_box,
#focus_annonce .annonce_img img {
    height: 270px;
}
#focus_annonce .annonce_box:nth-child(2n+1) {
    flex-flow: unset;
}
#focus_annonce .annonce_img {
    width: 40%;
}
#focus_annonce .annonce_text {
    width: 60%;
}
#focus_annonce .annonce_description {
    height: 80px;
    overflow: auto;
    word-break: break-all;
    padding-right: .5rem;
}
#focus_annonce .annonce_box {
    flex: 2;
}





#listing_annonces {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}
#listing_annonces .annonce_box {
    width: 48%;
}
#listing_annonces .annonce_box,
#listing_annonces .annonce_img img {
    height: 150px;
}
#listing_annonces .annonce_box:hover {
    transform: scale(1.04);
    transition: .6s;
}
#listing_annonces .annonce_img {
    width: 40%;
}
#listing_annonces .annonce_text {
    width: 60%;
}
.annonce_title.listing {
    line-height: unset;
}


/* Annonces boutique */
.annonce_box.btq {
    width: 48%;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.annonce_box.btq:nth-child(2n+1) {
    flex-flow: inherit;
}
.annonce_box.btq:hover{
    transform: scale(1.01);
}
.annonce_price_btq {
    color: var(--vertfonce);
    font-weight: bold;
    font-size: .9rem;
}
/*  */

/* RESPONSIVE */
@media (max-width: 1370px) {
    .annonce_box.btq {
        width: 100%;
    }
}
@media (max-width: 1050px) {
    #annonces .annonce_img {
        width: 40%;
    }
    #annonces .annonce_text {
        width: 60%;
    }
}
@media (max-width: 900px) {
    .annonce_box {
        margin-bottom: 1rem;
        width: 85%;
    }
    #listing_annonces .annonce_box {
        width: 85%;
    }
    #listing_annonces .annonce_box,
    #listing_annonces .annonce_img img
    {
        height: 170px;
    }
    #listing_annonces .annonce_img {
        width: 45%;
    }
    #listing_annonces .annonce_text {
        width: 55%;
    }
    p.annonce_title.listing {
        line-height: 1.5;
        font-size: 1.3rem;
    }
    /* BTQ */
    .annonce_box.btq span.span_created{
        display: block;
    }
}
@media (max-width: 800px) {
    .annonce_box {
        width: 95%;
    }
    #annonces .annonce_box {
        flex-direction: column;
        height: unset;
    }
    #annonces .annonce_box:nth-child(2n+1) {
        flex-flow: column wrap;
    }
    #annonces .annonce_img,
    #annonces .annonce_text {
        width: 100%;
    }
    #annonces .annonce_img img {
        height: 200px;
    }


    #focus_annonce .annonce_box {
        flex-direction: column;
        height: unset;
    }
    #focus_annonce .annonce_box:nth-child(2n+1) {
        flex-flow: column wrap;
    }
    #focus_annonce .annonce_img,
    #focus_annonce .annonce_text {
        width: 100%;
    }
    #focus_annonce .annonce_img img {
        height: 200px;
    }

}
@media (max-width: 750px) {
    .annonce_box p {
        font-size: .9rem;
    }
    .annonce_text p:nth-last-child(n) {
        margin-bottom: 0;
    }


}
@media all and (max-width: 680px) {
    span.span_created {
        display: block;
    }

}
@media (max-width: 500px) {
    #listing_annonces .annonce_img,
    #listing_annonces .annonce_text {
        width: 100%;
    }
    #listing_annonces .annonce_box {
        flex-direction: column;
        width: 95%;
        height: unset;
    }
    /* BTQ */
    .annonce_box.btq,
    .annonce_box.btq:nth-child(2n+1) {
        flex-flow: column;
    }
    .annonce_box.btq .annonce_text {
        width: 100%;
        padding: 0 0 1rem;
    }

}
@media (max-width: 400px) {
    #annonces .annonce_description {
        height: 75px;
    }
}
@media (max-width: 300px) {
    #annonces .annonce_description {
        height: 60px;
    }
}

