{% extends 'layout/front_base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur Garden Connect !</h1>

    <p> Votre inscription a bien été prise en compte ! </p>
    <p> Un email vous a été envoyé pour valider votre inscription. </p>
    <p> Si vous souhaitez créer une boutique, cliquez sur le lien suivant : </p>
    <a href="{{ path('app_boutique_new') }}">Créer ma boutique</a>

    <p>Merci pour votre confiance ! </p>

    <a href="{{ path('homepage') }}">Retour à l'accueil</a>

{% endblock %}