{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Modifier ma Boutique</title>
{% endblock %}

{% block body %}
    <h1 class="title_top">Modifier ma boutique</h1>
    {{ include('front/boutique/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}