{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
 <title>Boutique index</title>
{% endblock %}

{% block body %}
 <img src="{{ asset('images/logo.png') }}" alt="Logo Garden Connect" style="width: 80%; margin: 0 auto">
 {{ boutique.title }}

 <a href="#">Voir ma boutique</a>
{% endblock %}
