{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
 <title>Boutique index</title>
{% endblock %}

{% block body %}
 {{ boutique.title }}

 <a href="#">Voir ma boutique</a>
{% endblock %}
