{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Boutique index</title>
{% endblock %}

{% block body %}
    <section class="boutique_accueil">
        <div class="wrap">
            <h1 class="title_top">  {{ boutique.title }} </h1>
            <div class="wrapper_text_boutique">
                <div class="txt_top_boutique">
                    <h3 class="welcome">Bienvenue sur votre espace boutique&nbsp!</h3>
                    <div class="message_info">
                        <p>D'ici, vous pouvez :</p>
                        <ul>
                            <li>voir et gérer vos boutiques favorites,</li>
                            <li>accéder aux informations de votre boutique et les modifier (photo, description, coordonnées),</li>
                            <li>ajouter vos annonces, les modifer, les supprimer ou les désactiver temporairement...,</li>
                            <li>voir les avis que vous avez reçus, gérer ceux que vous avez émis (les modifier ou les supprimer), </li>
                            <li>accéder à vos messages </li>
                        </ul>
                    </div>
                </div>
                <div class="txt_bottom_boutique">
                    <div class="bloc_form btn-custom btq">
                        <span class="hover-effect btq">
                            <a class="" href="{{ path('view_boutique', {'id' : boutique.id }) }}">Voir ma boutique</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
