{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
 <title>Boutique index</title>
{% endblock %}

{% block body %}
    <div class="wrap">

        <img src="{{ asset('images/logo.png') }}" alt="Logo Garden Connect" style="width: 50%; margin: 0 auto">
        <h1>  {{ boutique.title }} </h1>
        <h3>Bienvenue sur votre espace boutique ! </h3>
        <p>D'ici, vous pourrez:</p>
        <ul>
            <li> gérer les infos de votre boutique,  </li>
            <li> ajouter et éditer vos annonces,  </li>
            <li>   accéder à votre messagerie, </li>
            <li>   voir vos avis (émis et reçus) </li>
        </ul>


        <a href="#">Voir ma boutique</a>


    </div>

{% endblock %}
