{% extends 'layout/front_base.html.twig' %}

{% block title %}
Création de boutique
{% endblock %}

{% block body %}
<div  class="wrap">
    <h1 class="title m-4">Création de la boutique</h1>
    {{ include('front/boutique/_form.html.twig') }}
</div>
{% endblock %}
