{% extends 'layout/front_base.html.twig' %}

{% block title %}
Création de boutique
{% endblock %}

{% block body %}

    <h1>Nouvelle boutique</h1>

    {{ include('front/boutique/_form.html.twig') }}

{#    <a href="{{ path('app_boutique_index') }}">back to list</a>#}
{% endblock %}
