/* Avis émis */
.wrap_avis {
    max-width: 800px;
}
#container_profil .container_avis {
    padding: 0.75rem 0;
}
#container_profil .container_avis ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;
}
#container_profil .container_avis ul li{
    display: flex;
    width: 100%;
}
/* Avis reçus */
#container_profil .container_avis ul li.recus {
    width: 45%;
}
/*  */
#container_profil .container_avis ul li .block_avis,
#container_profil .container_avis ul li .block_boutique {
    width: 50%;
    display: flex;
    flex-flow: column;
    gap: 0.8rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%) !important;
    padding: 1rem;
    justify-content: space-between;
    width: 45%;
}
/* Avis reçus */
#container_profil .container_avis ul li .block_avis.recus {
    width: 100%;
}
/*  */
#container_profil .container_avis ul li img.avatar_avis {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
#container_profil .container_avis ul li .user_name_avis {
    margin: auto .5rem;
}
#container_profil .container_avis ul li .separator {
    margin: auto;
    font-size: 2rem;
    color: var(--vertfonce);
    background-color: transparent;
}
#container_profil .container_avis ul li .separator.user {
    color: var(--vertclair);
}
#container_profil .container_avis ul li .separator.down {
    display: none;
}
#container_profil .container_avis ul li .block_boutique p{
    margin: 0;
}

/* Avis Boutique publique */
#avis_boutique .connect-link{
    color: var(--orange);
}
#avis_boutique ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#avis_boutique .avis_box{
    width: 48%;
    border: solid 2px var(--vertclair);
    border-radius: 5px;
    margin:1rem 0;
    padding: 1rem;
}
#avis_boutique .avis_form{
    border: solid 2px var(--vertclair);
    margin-bottom: 3rem;
    padding: 1rem;
}
#avis_boutique .avis_form .bloc_form{
    margin-bottom: 1rem;
}
#avis_boutique .avis_form textarea{
    height: 8rem;
    resize: none;
}

/* favory */
#container_profil .container_favory ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* padding: 1rem; */
    gap: 1rem;
}
#container_profil .container_favory ul li {
    width: 31%;
    padding: 1rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%) !important;
    border: 1px solid #e3e6f0;
    display: flex;
    /* margin: .5rem; */
}
#container_profil .container_favory ul li .block_favory{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.separator_btq {
    display: none;
}


/* RESPONSIVE */
@media (max-width: 800px) {
    /* Avis */
    .separator_btq {
        border-top: 1px solid var(--orange);
        width: 50%;
        margin: 0 auto;
        display: block;
    }
    .separator_btq:nth-last-child(1) {
        display: none;
    }
    #container_profil .container_avis ul {
        gap: 2rem;
    }
    #container_profil .container_avis ul li {
        flex-direction: column;
        width: 70%;
    }
    #container_profil .container_avis ul li .block_avis, #container_profil .container_avis ul li .block_boutique {
        width: 100%;
    }
    #container_profil .container_avis ul li .separator.down {
    display: block;
    font-size: 1.5rem;
    }
    #container_profil .container_avis ul li .separator.right {
    display: none;
    }
    /* Favoris */

}
@media (max-width: 600px) {
    /* Avis */
    #container_profil .container_avis ul li {
        flex-direction: column;
        width: 80%;
    }
}
@media (max-width: 500px) {
    /* Avis */
    #container_profil .container_avis ul li {
        flex-direction: column;
        width: 100%;
    }
}

