/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: white;
    color: rgb(70, 70, 70);
    font-family: 'Roboto', sans-serif;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(70, 70, 70);
}
img{
    width: 100%;
    vertical-align: bottom;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.padding-10{
    padding: 10px;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-flow: column;
}
.wrap{
    max-width: 1000px ; width: 100%; margin: 0 auto;
}