/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
    color: rgb(70, 70, 70);
    font-family: 'Roboto', sans-serif;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(70, 70, 70);
}
img{
    width: 100%;
    vertical-align: bottom;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.padding-10{
    padding: 10px;
}