:root{
    --vertfonce:#41B04F;
    --vertclair:#8FC642;
    --orange:#F7941D;
    --marron:#AB7B52;
    --rouge_supp: #E74A3b;
    --text-font: 400 14px/1.4 'Roboto', 'Arial', sans-serif;
    --title-font: 700 28px/2.8 'Unkempt', 'Arial', cursive, sans-serif;
    --title-font-btq: 700 28px/2.8 'Roboto', 'Arial', cursive, sans-serif;
    --menu_link: 18px 'Roboto', 'Arial', sana-serif;
}
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: white;
    color: rgb(70, 70, 70);
    font-family: 'Roboto', sans-serif;
}
ul, ol{
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(70, 70, 70);
}
img {
    width: 100%;
    vertical-align: bottom;
}
.wrap {
    max-width: 1100px ;
    width: 100%;
    margin: 0 auto;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.padding-0 {
    padding: 0;
}
.padding-10 {
    padding: 10px;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.flex-end{
    justify-content: flex-end;
}
.row-wrap{
    flex-flow: row wrap;
}
.flex-column{
    flex-flow: column;
}
.width-100{
    width: 100%;
}
.width-20 {
    width: 20%;
}
.width-80 {
    width: 80%;
}
.text-center {
    text-align: center;
}
.big-margin {
    margin: 3rem 0;
}
.m-t-20 {
    margin-top: 20px;
}
.hidden {
    visibility: hidden;
    transform: translateY(-100px);
}
.gap1 {
    gap: 1rem;
}
.inline-block {
    display: inline-block;
}
.bold {
    font-weight: bold;
}


.favory {
    color: var(--orange);
}

/* CSS Global input search location */
#city_suggest{
    background: #fff;
    border-radius: 4px;
    border: 1px solid grey;
    box-shadow: 4px 8px 0 rgba(26,26,26,.12);
    margin-top: -1rem;
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 1rem;
}
#city_suggest li:hover {
    background-color: lightgrey;
}
#city_suggest li {
    cursor: pointer;
}

/* Message flash register user et vendeur */
.flash-register_user,
.flash-register_vendeur {
    width: 100%;
    text-align: center;
    line-height: 2;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Unkempt';
    background: var(--vertclair);
    color: white;
    margin: 1.5rem 0;
    padding: 0 5rem;
}

/* Titres Front */
.title_section_home {
    text-align: center;
    font: var(--title-font);
    color: var(--marron);
    font-size: 2rem;
    line-height: 1.5;
    padding: 1rem;
}
/* RESPONSIVE */
@media all and (max-width: 1050px){
    .title_section_home {
        padding: .5rem;
    }
}
@media all and (max-width: 750px){
    .title_section_home {
        font-size: 1.5rem;
        padding: 0;
    }
}
@media all and (max-width: 450px){
    .title_section_home {
        font-size: 1.2rem;
    }
}
@media all and (max-width: 250px){
    .title_section_home {
        font-size: 1.1rem;
    }
}
