{% extends 'layout/boutique_base.html.twig' %}

{% block title %}
    <title>Modifier mon profil</title>
{% endblock %}

{% block body %}
    <h1 class="title_top">Modifier mon profil</h1>
    <div class="card-body">
        {{ include('front/boutique/profil/_form.html.twig') }}
    </div>
{% endblock %}
