/* Slider hero */
#slider-home{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}
#slider-home .flexslider {
    margin: 0 !important;
    border: none !important;
    width: 100%;
}
#slider-home .flexslider .text{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero_text {
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    backdrop-filter: blur(5px);
    padding: 10px;
    position: absolute;
    align-items: center;
}
.hero_text .hero_line1 {
    font-size: 2rem;
    font-weight: bold;
}
.hero_text p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

/* Slider catégories */
.slider-category{
    display: flex;
    justify-content: center;
    background-color: white;
}
.slider-category .flexslider {
    margin: 0 !important;
}
.slider-category .contener {
    width: 80%;
}
.slider-category li {
    display: flex !important;
    justify-content: space-between;
    flex-flow: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 8px;
    margin: 1rem .4rem !important;
    transition: all 0.3s;
}
.slider-category .title-cat{
    color:dimgray;
    font-family: 'Unkempt';
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    filter: opacity(.8);
}
.slider-category .title-cat:hover {
    color: var(--vertclair);
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
}

/* RESPONSIVE */
@media all and (max-width: 1250px) {
    .hero_text {
        width: 50%;
    }
}
@media all and (max-width: 1120px) {
    .hero_text .hero_line1 {
        font-size: 1.8rem;
    }
    .hero_text p {
        font-size: 1.3rem;
    }
}
@media all and (max-width: 900px) {
    .hero_text {
        width: 60%;
    }
    .hero_text .hero_line1 {
        font-size: 1.5rem;
    }
    .hero_text p {
        font-size: 1rem;
    }
}
@media all and (max-width: 750px) {
    .slider-category .contener {
        /* border: 1px solid red; */
        width: 85%;
    }
    .slider-category .title-cat {
        font-size: .9rem;
    }
}
@media all and (max-width: 650px) {
    #slider-home {
        margin-bottom: 1rem;
    }
    .slider-category .contener {
        width: 90%;
    }
}
@media all and (max-width: 500px) {
    .hero_text {
        width: 70%;
    }
    .hero_text .hero_line1 {
        font-size: 1.2rem;
    }
    .hero_text p {
        font-size: .8rem;
    }
    .flex-direction-nav a {
        width: 30px !important;
        height: 30px !important;
    }
    .flex-direction-nav a:before {
        font-size: 30px !important;
    }
}
@media all and (max-width: 450px) {
    .slider-category .contener {
        width: 95%;
    }
    .hero_text {
        width: 80%;
    }
    .slider-category .title-cat {
        font-size: .8rem;
        height: 80px;
    }
    .slider-category li {
        margin: .5rem 0.4rem !important;
    }
}
@media all and (max-width: 400px) {
    .hero_text {
        padding: .2rem 0;
    }
}
@media all and (max-width: 350px) {
    .flex-direction-nav a {
        width: 25px !important;
        height: 25px !important;
    }
    .flex-direction-nav a:before {
        font-size: 25px !important;
    }
    .hero_text .hero_line1 {
        font-size: 1rem;
    }
    .hero_text p {
        font-size: .7rem;
    }
}
@media all and (max-width: 300px) {
    .hero_text {
        width: 90%;
    }
}
@media all and (max-width: 270px) {
    .hero_text .hero_line1 {
        font-size: .8rem;
    }
    .hero_text p {
        font-size: .6rem;
    }
}