/* slider bannière */
#slider-home{
    margin-bottom: 3rem;
}
#slider-home .flexslider {
    margin: 0 !important;
    border: none !important;
    width: 100%;
}
#slider-home .flexslider .text{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#slider-home .flexslider .text span{
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
}

/* slider categories */
.slider-category{
    display: flex;
    justify-content: center;
    background-color: white;
}
.slider-category .contener{
    width: 80%;
}
.slider-category li{
    display: flex!important;
    justify-content: space-between;
    flex-flow: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 8px;
    margin: 1rem .4rem !important;
    transition: all 0.3s;
}
.slider-category .title-cat{
    color:dimgray;
    font-family: 'Unkempt';
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    filter: opacity(.8);
}
.slider-category .title-cat:hover {
    color: var(--vertclair);
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
}
@media all and (max-width: 650px){
    .text {
        border: 2px soli red;
        font-size: 1.2rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
